
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(240, 240, 240);
	display: flex;
	justify-content: center;
	 background: linear-gradient(to bottom right, #fa875d2c, #e2e2e2, #32cd322a);
}

.logo-outlook{
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 70px;
	width: 215px;
}

.logo-microsoft{
	width: 135px;
	margin-top: 55px;
}

.container{
	display: block;
	justify-content: center;
	margin: auto;
    width: 550px;
    height: 490px;
 	background-color: rgb(255, 255, 255);
    margin-top: 8.5%;
	border: solid 1px transparent !important;
    box-shadow: 0px 0px 6px rgb(187, 187, 187);
}

.create-acoount{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-left: 44px;
	font-size: 16px;
}

.spn{
	color: #007ab3;
	cursor: pointer;
}

.titulo{
	padding: 20px 44px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #323130;
}

.parrafo{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #323130;
	padding-left: 44px;
}



#container2{
	background: white;
	margin: 80px 450px 10px;
	border: 3px solid white; 
	width: 20px;
	padding: 7px 3px 35px 3px;
}

img{
	margin: 10px 50px 0px;

}

h2{

margin:  0px 150px 10px 50px ; 
margin-top: 10px;
font-size: 24px;
font-family: "Segoe UI";
color:#1b1b1b;
font-weight: 600;

}

input[type=text]{
    width: 100%;
    padding: 10px 14px;
    margin: 8px 45px;
   	font-family: "Segoe UI";
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #636363;;
	outline:none;
	padding-left: 0px;
    margin-top: 20px;
    
}

input[type=email]{
    width: 80%;
    padding: 10px 14px;
    margin: 8px 45px;
   	font-family: "Segoe UI";
	font-size: 19px;
	border: none;
	border-bottom: 1px solid #535353;
	outline:none;
	padding-left: 0px;
    margin-top: 20px;
    
}


#clave{
	width: 80%;
    padding: 10px 14px;
    margin: 8px 45px;
   	font-family: "Segoe UI";
	font-size:  19px;
	border: none;
	border-bottom: 1px  solid #535353;
	outline:none;
	padding-left: 0;
    margin-bottom: 30px;
}

input::placeholder{
	font-size: 19px;
}

input:focus{
	border-bottom: solid 1px #007ab3;
}

#clave:focus{
	border-bottom: solid 1px #007ab3;
}

.pino{
    width: 320px;
    padding: 10px 14px;
    margin: 8px 45px;
   	font-family: "Segoe UI";
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #0067b8;
	outline:none;
	padding-left: 0px;
	outline:none;

}

a{
		width: 0px; 
		padding: 8px 30px;
		margin: 15px 250px 80px 265px;
		color: white;
		background: #396FDC;
		border: 0px solid #396FDC ;
		font-family: "Segoe UI";
		font-size: 16px;
		cursor: pointer;
		outline:none;
		text-decoration: none;
		

}



small{
 margin: 0px 65px;
 font-family: "Segoe UI";
 color: #0067b8;
 font-size: 13px;
 text-decoration: none;
 cursor: pointer;
 
}

h4{
 margin: 0px 65px;
 font-family: "Segoe UI";
 color: #75C623;
 font-size: 16px;
 text-decoration: none;
 cursor: pointer;
 
}


b:hover{
	color: #ccc;
	text-decoration: underline;
	
}

h3:hover{
	text-decoration: underline;
	
}


h5:hover{
	text-decoration: underline;
	
}

div{
	position: absolute;
	margin: -15px 0px 150px 175px;
}

h3{

}


.boton{
    border: none;
    width: 130px;
    height: 40px;
    margin-left: 360px;
    margin-top: 50px;
    background-color: rgb(42, 95, 194);
	color: rgb(255, 255, 255);
	font-size: 19px;
	cursor: pointer;
	transition: all .2s;
}

.boton:hover{
	background-color: rgb(7, 71, 190);
}

input{ margin-top: 20px;}
#clave{margin-top: 20px;}

.footer{
	width: 100%;
	padding: 25px;
	background-color: #838383;
}


@media screen and (max-width: 614px) {
	.container{
		width: 90%;
		margin-top: 34%;
	}

	.logo-microsoft{
		width: 110px;
	}

	.titulo{
		font-size: 26px;
	}

	.parrafo{
		font-size: 14px;
	}

	input::placeholder{
	font-size: 16px;
	}

	.boton{
		margin-left: 220px;
		font-size: 16px;
	}

	.create-acoount{
		font-size: 14px;
	}
}